@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imgSneakers{
  width: 100%;
  height: 70%;
}
.displayItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sneakersDB{
  width: 30%;
  height: 30%;
}